###################################################################################################################################################
###################################################################################################################################################
###################################################################################################################################################
###  ▄▄▄▄▄▄▄▄▄▄▄ ▄         ▄ ▄▄▄▄▄▄▄▄▄▄▄ ▄▄▄▄▄▄▄▄▄▄▄ ▄         ▄ ▄▄▄▄▄▄▄▄▄▄▄       ▄▄▄▄▄▄▄▄▄▄▄ ▄         ▄ ▄▄▄▄▄▄▄▄▄▄▄ ▄▄▄▄▄▄▄▄▄▄▄ ▄▄▄▄▄▄▄▄▄▄▄  ### 
### ▐░░░░░░░░░░░▐░▌       ▐░▐░░░░░░░░░░░▐░░░░░░░░░░░▐░▌       ▐░▐░░░░░░░░░░░▌     ▐░░░░░░░░░░░▐░▌       ▐░▐░░░░░░░░░░░▐░░░░░░░░░░░▐░░░░░░░░░░░▌ ###
###  ▀▀▀▀▀█░█▀▀▀▐░▌       ▐░▐░█▀▀▀▀▀▀▀▀▀ ▀▀▀▀█░█▀▀▀▀▐░▌       ▐░▐░█▀▀▀▀▀▀▀▀▀       ▀▀▀▀█░█▀▀▀▀▐░▌       ▐░▐░█▀▀▀▀▀▀▀▀▀ ▀▀▀▀█░█▀▀▀▀▐░█▀▀▀▀▀▀▀▀▀  ###
###       ▐░▌   ▐░▌       ▐░▐░▌              ▐░▌    ▐░▌       ▐░▐░▌                    ▐░▌    ▐░▌       ▐░▐░▌              ▐░▌    ▐░▌           ###
###       ▐░▌   ▐░▌       ▐░▐░█▄▄▄▄▄▄▄▄▄     ▐░▌    ▐░▌       ▐░▐░█▄▄▄▄▄▄▄▄▄           ▐░▌    ▐░█▄▄▄▄▄▄▄█░▐░█▄▄▄▄▄▄▄▄▄     ▐░▌    ▐░█▄▄▄▄▄▄▄▄▄  ###
###       ▐░▌   ▐░▌       ▐░▐░░░░░░░░░░░▌    ▐░▌    ▐░▌       ▐░▐░░░░░░░░░░░▌          ▐░▌    ▐░░░░░░░░░░░▐░░░░░░░░░░░▌    ▐░▌    ▐░░░░░░░░░░░▌ ###
###       ▐░▌   ▐░▌       ▐░▌▀▀▀▀▀▀▀▀▀█░▌    ▐░▌    ▐░▌       ▐░▌▀▀▀▀▀▀▀▀▀█░▌          ▐░▌    ▐░█▀▀▀▀▀▀▀█░▐░█▀▀▀▀▀▀▀▀▀     ▐░▌     ▀▀▀▀▀▀▀▀▀█░▌ ###
###       ▐░▌   ▐░▌       ▐░▌         ▐░▌    ▐░▌    ▐░▌       ▐░▌         ▐░▌          ▐░▌    ▐░▌       ▐░▐░▌              ▐░▌              ▐░▌ ###
###  ▄▄▄▄▄█░▌   ▐░█▄▄▄▄▄▄▄█░▌▄▄▄▄▄▄▄▄▄█░▌    ▐░▌    ▐░█▄▄▄▄▄▄▄█░▌▄▄▄▄▄▄▄▄▄█░▌          ▐░▌    ▐░▌       ▐░▐░█▄▄▄▄▄▄▄▄▄ ▄▄▄▄█░█▄▄▄▄ ▄▄▄▄▄▄▄▄▄█░▌ ###
### ▐░░░░░░░▌   ▐░░░░░░░░░░░▐░░░░░░░░░░░▌    ▐░▌    ▐░░░░░░░░░░░▐░░░░░░░░░░░▌          ▐░▌    ▐░▌       ▐░▐░░░░░░░░░░░▐░░░░░░░░░░░▐░░░░░░░░░░░▌ ###
###  ▀▀▀▀▀▀▀     ▀▀▀▀▀▀▀▀▀▀▀ ▀▀▀▀▀▀▀▀▀▀▀      ▀      ▀▀▀▀▀▀▀▀▀▀▀ ▀▀▀▀▀▀▀▀▀▀▀            ▀      ▀         ▀ ▀▀▀▀▀▀▀▀▀▀▀ ▀▀▀▀▀▀▀▀▀▀▀ ▀▀▀▀▀▀▀▀▀▀▀  ###
###  ▄▄▄▄▄▄▄▄▄▄▄ ▄           ▄▄▄▄▄▄▄▄▄▄▄ ▄▄▄▄▄▄▄▄▄▄▄ ▄▄▄▄▄▄▄▄▄▄▄ ▄▄▄▄▄▄▄▄▄▄▄ ▄▄▄▄▄▄▄▄▄▄▄                                                        ###
### ▐░░░░░░░░░░░▐░▌         ▐░░░░░░░░░░░▐░░░░░░░░░░░▐░░░░░░░░░░░▐░░░░░░░░░░░▐░░░░░░░░░░░▌                                                       ###
### ▐░█▀▀▀▀▀▀▀█░▐░▌          ▀▀▀▀█░█▀▀▀▀▐░█▀▀▀▀▀▀▀█░▐░█▀▀▀▀▀▀▀▀▀▐░█▀▀▀▀▀▀▀▀▀▐░█▀▀▀▀▀▀▀▀▀                                                        ###
### ▐░▌       ▐░▐░▌              ▐░▌    ▐░▌       ▐░▐░▌         ▐░▌         ▐░▌                                                                 ###
### ▐░█▄▄▄▄▄▄▄█░▐░▌              ▐░▌    ▐░█▄▄▄▄▄▄▄█░▐░█▄▄▄▄▄▄▄▄▄▐░█▄▄▄▄▄▄▄▄▄▐░█▄▄▄▄▄▄▄▄▄                                                        ### 
### ▐░░░░░░░░░░░▐░▌              ▐░▌    ▐░░░░░░░░░░░▐░░░░░░░░░░░▐░░░░░░░░░░░▐░░░░░░░░░░░▌                                                       ###
### ▐░█▀▀▀▀▀▀▀█░▐░▌              ▐░▌    ▐░█▀▀▀▀▀▀▀█░▌▀▀▀▀▀▀▀▀▀█░▐░█▀▀▀▀▀▀▀▀▀ ▀▀▀▀▀▀▀▀▀█░▌                                                       ###
### ▐░▌       ▐░▐░▌              ▐░▌    ▐░▌       ▐░▌         ▐░▐░▌                   ▐░▌                                                       ###
### ▐░▌       ▐░▐░█▄▄▄▄▄▄▄▄▄ ▄▄▄▄█░█▄▄▄▄▐░▌       ▐░▌▄▄▄▄▄▄▄▄▄█░▐░█▄▄▄▄▄▄▄▄▄ ▄▄▄▄▄▄▄▄▄█░▌                                                       ###
### ▐░▌       ▐░▐░░░░░░░░░░░▐░░░░░░░░░░░▐░▌       ▐░▐░░░░░░░░░░░▐░░░░░░░░░░░▐░░░░░░░░░░░▌                                                       ###
###  ▀         ▀ ▀▀▀▀▀▀▀▀▀▀▀ ▀▀▀▀▀▀▀▀▀▀▀ ▀         ▀ ▀▀▀▀▀▀▀▀▀▀▀ ▀▀▀▀▀▀▀▀▀▀▀ ▀▀▀▀▀▀▀▀▀▀▀                                                        ###
###################################################################################################################################################
###################################################################################################################################################
###################################################################################################################################################
                                                                                                                                           





##############################################
########## Shortcuts for navigation ##########
##############################################
alias .="cd ~"
alias ..="cd ../"
alias home="cd ~"
alias code="cd ~/code"
alias tools="cd ~/tools"






##############################################
########## Shortcuts for opening files #######
##############################################
alias hosts="sudo vim /etc/hosts"
alias aliases="vim ~/.aliases"
alias vimrc="vim ~/.vimrc"
alias zshrc="vim ~/.zshrc"
alias notes="vim ~/notes.md"






##############################################
########## Shortcuts for executing software ##
##############################################
alias s="sudo"
alias v="vim"
alias sv="sudo vim"
alias svi="sudo vim"
alias c="composer"
alias htop="sudo htop"
alias t="tmux"
alias ta="tmux a -t"
alias ts="tmux ls"
alias iptraf="sudo iptraf-ng"
alias install="sudo apt install"
alias upgrade="sudo apt update && sudo apt upgrade"
alias tags="ctags -R --exclude=.git --exclude=node_modules "
alias speedtest="speedtest-net"
alias kc="bash ~/tools/keychain.sh"
test() {
  	if [ -f vendor/bin/phpunit ]; then
    		vendor/bin/phpunit "$@"
	fi
}
alias wetter="curl http://wttr.in"






##############################################
########## Shortcuts for Laravel #############
##############################################
alias a="php artisan"
alias mfs="php artisan migrate:fresh --seed"
alias mf="php artisan migrate:fresh"






##############################################
########## Shortcuts for git #################
##############################################
alias g="git"
alias gs="git status"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias wip="git add . && git commit -m 'wip'"
alias nah="git reset --hard;git clean -df"
alias gp="git push"






##############################################
########## Shortcuts for ssh connects ########
##############################################
alias cus-web01="ssh justustheis@cus-web01.ds-systems.eu -i ~/.ssh/jt_ds_rsa -p 2234" 
alias dev="ssh justustheis@10.88.104.16 -i ~/.ssh/jt_ds_rsa" 
alias cus-dns01="ssh justustheis@cus-dns01.ds-systems.eu -p 2234 -i ~/.ssh/jt_ds_rsa"
alias php-legacy="ssh root@hosting-php-legacy.scholtka-group.de"
alias luna="ssh justustheis@luna.j-theis.de"






##############################################
########## Shortcuts for log monitoring ######
##############################################
alias syslog="sudo grc tail -f /var/log/syslog"
alias grepsyslog="sudo cat /var/log/syslog | grep"
alias panellog="sudo grc tail -f /usr/local/psa/admin/logs/panel.log"






##############################################
########## Shortcuts for file/folder ops #####
##############################################
alias size="du -sh"






##############################################
########## Shortcuts plesk specific ##########
##############################################
alias mailpassword="sudo /usr/local/psa/admin/sbin/mail_auth_view | grep"
alias plesk="sudo plesk"






##############################################
########## Shortcut for terminal ops #########
##############################################
alias c="clear"







